volumes:
  data:

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "18001:18001"
    volumes:
      - data:/app/data
    healthcheck:
      test: [ "CMD-SHELL", "wget --spider http://localhost:18001 || exit 1" ]
      interval: 5s
      timeout: 5s
      retries: 10

  frontend:
    build:
      context: ./vakthund-web
      dockerfile: Dockerfile
    ports:
      - "18000:80"
    depends_on:
      - backend
    healthcheck:
      test: [ "CMD-SHELL", "wget --spider http://localhost || exit 1" ]
      interval: 5s
      timeout: 5s
      retries: 10