@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 300;
    font-stretch: 100%;
    font-display: swap;
    src: url("/Inconsolata.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inconsolata", serif !important;
    background-color: #f7f7f7;
    background-image: url('./images/bg.png');
    opacity: 0.94;
    margin: 0;
    padding: 0;
}

tbody {
    vertical-align: middle !important;
}

.container-bordered {
    border-radius: 5px;
    margin-bottom: 30px;
}

.margin {
    margin: 20px;
}

.footer {
    bottom: 0;
    width: 100%;
    position: fixed !important;
}

.ag-theme-quartz:focus-within {
    --ag-range-selection-border-style: none;
}

.MuiInput-input {
    vertical-align: sub;
}