@import url(https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap);

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inconsolata", serif !important;
    background-color: #f7f7f7;
    background-image: url('./images/bg.png');
    opacity: 0.94;
    margin: 0;
    padding: 0;
}

tbody {
    vertical-align: middle !important;
}

.container-bordered {
    border-radius: 5px;
    margin-bottom: 30px;
}

.margin {
    margin: 20px;
}

.footer {
    bottom: 0;
    width: 100%;
    position: fixed !important;
}

.ag-theme-quartz:focus-within {
    --ag-range-selection-border-style: none;
}

.MuiInput-input {
    vertical-align: sub;
}